/**
==============================================================================
Archivo: reset.css
------------------------------------------------------------------------------
Normalización de estilos del navegador.
==============================================================================
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {

    font-family: 'Poppins', sans-serif;

    overflow-x: hidden;

    background:
        linear-gradient(180deg,
            #fefefe 0%,
            #f9fbff 35%,
            #fff7fb 100%);

    color: #444;

}