/**
 * =============================================================================
 * Archivo: reset.css
 * -----------------------------------------------------------------------------
 * Restablece los estilos base del navegador y define la apariencia global de la
 * aplicación.
 * =============================================================================
 */

/*==============================================================================
    RESET
==============================================================================*/

*,
*::before,
*::after {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

/*==============================================================================
    DOCUMENTO
==============================================================================*/

html {

    scroll-behavior: smooth;

}

body {

    overflow-x: hidden;

    color: #444;

    font-family: "Poppins", sans-serif;

    background:
        linear-gradient(180deg,
            #fefefe 0%,
            #f9fbff 35%,
            #fff7fb 100%);

}